
.invoice-bg-top{background-color:#fbfafa; border-bottom:1px solid #efefef; padding: 0.400000in;}
.invoice-bg{background-color:#FFf; box-shadow: 0 0 6px #ccc; padding: 0.400000in;}

#height{height:20px; }

#logo{text-align:center;}
#logo h4{margin:0 0 0 0px; padding:5px 0 0 0px;}

#identity {
    float: left;
    width: 100%;
	margin:10px 0 0 0px;
}

#logo-add{
text-align:center;
	}
	
#invoice-right{
    text-align: right;
}

#invoice-right-to{
    width: 45%;
    float: right;
    background-color: blue;
}

#invoice-bil {
    margin: 15px 0 0 0px;
    text-align: right;
    font-size: 15px;
    line-height: 18px;
}	

textarea { border: 0; font: 14px Georgia, Serif; overflow: hidden; resize: none; }
table { border-collapse: collapse; }
table td, table th { border: 1px solid #364064; border:none; /*padding:5px;*/ }

#header { height: 15px; width: 100%; margin: 20px 0; background: #222; text-align: center; color: white; font: bold 15px Helvetica, Sans-Serif; text-decoration: uppercase; letter-spacing: 20px; padding: 8px 0px; }

#address { width: 250px; height: 150px; float: left; }
#customer { overflow: hidden; }




#meta { margin-top: 1px; width:100%; float: right; border:none!important; }
#meta td { text-align: right;  }
#meta td.meta-head { text-align: left;}
#meta td textarea { width: 100%; height: 20px; text-align: right; }

#items { clear: both; width: 100%; margin:0 0 0 0; border: 1px solid #2c365a; border:none; }
#items th { background:#2c365a; text-align:right; }
#items textarea { width: 80px; height: 50px; }
#items tr.item-row td { border: 0; vertical-align: top; text-align:right; }
#items td.description { width: 300px; }
#items td.item-name { width: 175px; }
#items td.description textarea, #items td.item-name textarea { width: 100%; }
#items td.total-line { border-right: 0; text-align: right; }
#items td.total-value { border-left: 0; padding: 10px; text-align:right; }
#items td.total-value textarea { height: 20px; background: none; }
#items td.balance { background: #2c365a; }
#items td.blank { border: 0; }

#terms { text-align: center; margin: 20px 0 0 0; }
#terms h5 { text-transform: uppercase; font: 13px Helvetica, Sans-Serif; letter-spacing: 10px; border-bottom: 1px solid black; padding: 0 0 8px 0; margin: 0 0 8px 0; }
#terms textarea { width: 100%; text-align: center;}

textarea:hover, textarea:focus, #items td.total-value textarea:hover, #items td.total-value textarea:focus, .delete:hover { background-color:#EEFF88; }

.delete-wpr { position: relative; }
.delete { display: block; color: #000; text-decoration: none; position: absolute; background: #EEEEEE; font-weight: bold; padding: 0px 3px; border: 1px solid; top: -6px; left: -22px; font-family: Verdana; font-size: 12px; }